<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dbo="http://dbpedia.org/ontology/"
      xmlns:dbr="http://dbpedia.org/resource/"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:schema="http://schema.org/"
      xmlns:re="http://www.w3.org/2000/10/swap/reason#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:db="http://dbpedia.org/"
      xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">
<head>
    <meta charset="UTF-8" />
    <title>Liste des stations à ${locationCity.cityName}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />

    <style type="text/css">
        #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height:400px;
        }
        #mapProximite{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height:400px;

        }
    </style>
</head>
<body>
<div class="container-fluid">
<h1>Voici la liste des sations en France.</b></h1>
    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>


    <div id="modalProximite" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mapProximite">
                        <!-- Ici s'affichera la carte -->
                    </div>
                    <div id="stationId" about="" class="modal-content">
                        <h2 id="locationCity" property="dbo:locationCity"></h2>
                        <h2 id="stationLabel" property="rdfs:label"></h2>
                        <h2 id="stationCapacity" property="rdfs:capacity"></h2>
                        <h2 id="stationLat" property="geo:lat"></h2>
                        <h2 id="stationLon" property="geo:lon"></h2>
                        <h1 id="indidstat"></h1>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<table>
    <thead>
        <tr>
            <th>Nom de la station</th>
            <th>Capacitée</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Ville</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="station : ${stationList}" th:about="${station.stationId}">
            <td th:text="${station.stationName}" property="rdfs:label"></td>
            <td th:text="${station.capacity}" property="rdfs:capacity"></td>
            <td th:text="${station.latitude.toString()}" property="geo:lat"></td>
            <td th:text="${station.longitude.toString()}" property="geo:lon"></td>
            <td th:text="${station.locationCity.getCityName()}" property="dbo:locationCity"></td>
        </tr>
    </tbody>
</table>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    // On initialise la latitude et la longitude de Paris (centre de la carte)

    var macarte = null;
    var macarteProximite = null;

    /*<![CDATA[*/
    var listStation=/*[[${stationList.toString()}]]*/ 'default';
    var lat = /*[[${stationList[0].latitude.toString()}]]*/ 'default';
    var lon = /*[[${stationList[0].longitude.toString()}]]*/ 'default';
    var stationList = /*[[${stationList.size()}]]*/ 'default';
    console.log(stationList);
    console.log(lon);
    /*]]>*/
    var markerClusters;
    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"

        var greenIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        macarte = L.map('map').setView([46.52863469527167,2.43896484375], 5);
        markerClusters = L.markerClusterGroup();
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);
        /*<![CDATA[*/

        /*[# th:each="station : ${stationList}"]*/
        var latPoint=/*[[${station.latitude.toString()}]]*/;
        var lonPoint=/*[[${station.longitude.toString()}]]*/;
        var nameStation=/*[[${station.stationName.toString()}]]*/;
        var idStation=/*[[${station.getStationId().toString()}]]*/;
        var city=/*[[${station.locationCity.getCityName().toString()}]]*/;
        var capacity=/*[[${station.getCapacity().toString()}]]*/;
        latPoint = parseFloat(latPoint);
        lonPoint = parseFloat(lonPoint);
        var marker = L.marker([latPoint,lonPoint]);

        marker.nameStation = nameStation;
        marker.latitude = latPoint;
        marker.longitude = lonPoint;
        marker.city = city;
        marker.idStation = idStation;
        marker.capacity = capacity
        marker.added=false;
        marker.incIdStat = null;

        marker.on('click', function() {
            var mark=this;

            if(macarteProximite != undefined || macarteProximite != null){
                macarteProximite.remove();
            }

            macarteProximite = L.map('mapProximite').setView([this.latitude, this.longitude], 15);

            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarteProximite);

            var markerStationSelect = L.marker([this.latitude, this.longitude]).addTo(macarteProximite);

            console.log('http://localhost:8080/proximityRest?lon=' + this.longitude + '&lat=' + this.latitude)
            axios.get('http://localhost:8080/proximityRest?lon=' + this.longitude + '&lat=' + this.latitude)
                .then(function (response) {
                    var i=0;
                    console.log(response.data);
                    console.log(mark.added);
                    if (!mark.added){
                        mark.added=true;
                    for(var item in response.data){
                        console.log(response.data[i].placeLabel);


                            markerClusters.addLayer(L.marker([response.data[i].latitude, response.data[i].longitude], {icon: greenIcon}));

                        }
                        i++;
                    }
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });

            document.getElementById("stationId").setAttribute("about", this.idStation);
            document.getElementById("locationCity").innerHTML = this.city;
            document.getElementById("stationLabel").innerHTML = this.nameStation;
            document.getElementById("stationCapacity").innerHTML = this.capacity;
            document.getElementById("stationLat").innerHTML = this.latitude;
            document.getElementById("stationLon").innerHTML = this.longitude;
            document.getElementById("stationLon").innerHTML = this.longitude;
            document.getElementById("indidstat").innerHTML = this.incIdStat;

            $('#modalProximite').on('show.bs.modal', function(){
                setTimeout(function() {
                    macarteProximite.invalidateSize();
                }, 10);
            });
            $('#modalProximite').modal('show');

        });

        markerClusters.addLayer(marker);

        /*[/]*/

        /*]]>*/
        macarte.addLayer(markerClusters);

    }
    window.onload = function(){
        // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        initMap();
    };
</script>
</body>

</html>
