<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"
      xmlns:dbo="http://dbpedia.org/ontology/"
      xmlns:dbr="http://dbpedia.org/resource/"
      xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des stations </title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/leaflet.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/MarkerCluster.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/MarkerCluster.Default.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dataTables.bootstrap4.min.css}">


    <style type="text/css">
        body {
            background-color: whitesmoke;
        }

        #map { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height: 400px;
        }

        #mapProximite { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height: 400px;

        }
    </style>
</head>
<body class="m-3">
<div class="container-fluid">
    <div id="modalProximite" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Lieux à proximité</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="mapProximite">
                                <!-- Ici s'affichera la carte -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <table id="stationId" about="" class="table table-striped table-bordered"
                                   style="width:100%">
                                <tr style="min-height: 100px">
                                    <th>Ville</th>
                                    <td id="locationCity" property="dbo:locationCity"></td>
                                </tr>
                                <tr style="min-height: 100px">
                                    <th>Nom station</th>
                                    <td id="stationLabel" property="rdfs:label"></td>
                                </tr>
                                <tr style="min-height: 100px">
                                    <th>Vélos disponibles</th>
                                    <td id="available"></td>
                                </tr>
                                <tr style="min-height: 100px">
                                    <th>Nombres d'emplacements</th>
                                    <td id="stationCapacity" property="rdfs:capacity"></td>
                                </tr>
                                <tr style="display:none">
                                    <th>Latitude</th>
                                    <td id="stationLat" property="geo:lat"></td>
                                </tr>
                                <tr style="display:none">
                                    <th>Longitude</th>
                                    <td id="stationLon" property="geo:lon"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="mb-3">
        <!-- Ici s'affichera la carte -->
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%; height: 100%">
        <thead>
        <tr>
            <th>Nom de la station</th>
            <th>Capacitée</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Ville</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station : ${stationList}"
            th:about="${station.getLocationCity().replace(' ' ,'-')+'/'+station.stationId}">
            <td th:text="${station.stationName}" property="rdfs:label"></td>
            <td th:text="${station.capacity.toString()}" property="rdfs:capacity" datatype="xsd:integer"></td>
            <td th:text="${station.latitude}" property="geo:lat" datatype="xsd:double"></td>
            <td th:text="${station.longitude}" property="geo:lon" datatype="xsd:double"></td>
            <td th:content="${'<http://dbpedia.org/resource/' + station.locationCity.toString() + '>'}" datatype="xsd:anyURI" property="dbr:locationCity"><a th:href="@{'http://dbpedia.org/resource/' + ${station.locationCity.toString()}}" th:text="${station.locationCity.toString()}"></a></td>
        </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/leaflet.js}"></script>
<script type="text/javascript" th:src="@{/js/leaflet.markercluster.js}"></script>

<script th:inline="javascript" language="javascript" type="text/javascript">

    /*<![CDATA[*/
    var listStation =JSON.parse(/*[[${stationListJson}]]*/ 'default');
    /*]]>*/

</script>

<script type="text/javascript" th:src="@{/js/initMap.js}"></script>
</body>

</html>
